.form {
  margin-bottom: 2rem;
}

input,
select,
textarea {
  min-height: 2rem;
  width: 100%;
}

button {
  background-color: black;
  color: white;
  height: 2rem;
  min-width: 6rem;
}

button:disabled {
  background-color: #ddd;
  color: gray;
}

.form-title {
  margin: 0.5rem;
  font-weight: bold;
}
